<launch>
    <!-- Launch the Raspberry Pi Camera Node -->
    <node pkg="raspicam_node" type="raspicam_node" name="raspicam_node" output="screen">
        <param name="framerate" value="10"/>
        <param name="width" value="410"/>
        <param name="height" value="308"/>
        <!-- Use the custom calibration file location -->
        <param name="camera_info_url" value="file://$(find watch)/camera_info/camera.yaml"/>
        <param name="camera_frame_id" value="camera"/>
    </node>

    <!-- Launch the ArUco marker detection and pose node -->
    <node pkg="watch" type="aruco_pose.py" name="aruco_pose" output="screen">
        <param name="calibration_file" value="$(find watch)/camera_info/camera.yaml"/>
        <param name="marker_size" type="double" value="0.05"/> <!-- Marker size in meters -->
    </node>

    <!-- Launch the ArUco marker listener node -->
    <node pkg="watch" type="aruco_listener.py" name="aruco_listener" output="screen"/>
</launch>